.menuInicial {
    -fx-background-color: #ffffff;
}

.lblTitulo {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 150px;
    -fx-text-fill: #000000;

}

#btnJugar {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 24px; 
    -fx-cursor: hand;
    
    -fx-background-color: #000000;
    -fx-text-fill: #ffffff;
    -fx-border-color: #004d00;
    -fx-border-width: 0 0 6 0; 
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

#btnJugar:hover {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000; 
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;    
}

#btnJugar:pressed {
    -fx-translate-y: 8; 
    -fx-border-width: 0 0 4 0;
}

/* 4. BOTÓN SALIR (Estilo Arcade Rojo) */
#btnSalir {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 20px;
    -fx-cursor: hand;
    
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    
    -fx-border-color: #990000;
    -fx-border-width: 0 0 6 0;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

#btnSalir:hover {
    -fx-background-color: #ff6666;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 51, 51, 0.8), 15, 0, 0, 0);
}

#btnSalir:pressed {
    -fx-translate-y: 4;
    -fx-border-width: 0 0 2 0;
}


#cboxMusica {
    -fx-background-color: #000000;
    -fx-border-color: #ffffff;
    -fx-border-width: 2px;
    
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    

    -fx-padding: 0 5 0 5; 
}


#cboxMusica .list-cell {
    -fx-text-fill: #ffffff; 
    -fx-background-color: transparent; 
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 10px; 
    -fx-alignment: CENTER-LEFT;
    -fx-padding: 5 0 5 0;
}


#cboxMusica .arrow-button {
    -fx-background-color: transparent; 
    -fx-border-color: transparent transparent transparent #ffffff; 
}

#cboxMusica .arrow {
    -fx-background-color: #33ff00; 
    -fx-scale-x: 0.8; 
    -fx-scale-y: 0.8;
}

#cboxMusica .list-view {
    -fx-background-color: #000000; 
    -fx-border-color: #ffffff; 
    -fx-border-width: 2px;
}

#cboxMusica .list-view .list-cell {
    -fx-text-fill: #ffffff;
    -fx-background-color: #000000;
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 10px;
    -fx-padding: 8 5 8 5;
}

#cboxMusica .list-view .list-cell:hover {
    -fx-background-color: #33ff00; 
    -fx-text-fill: #000000;        
    -fx-cursor: hand;
}

#cboxMusica .list-view .list-cell:filled:selected {
    -fx-background-color: #ffffff; 
    -fx-text-fill: #000000;
}

#btnMusica {
	-fx-background-color: #0088ff; 
    -fx-text-fill: #ffffff;
    
    -fx-border-color: #000000;
    -fx-border-width: 3px;
    
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.5), 0, 0, 0, 5);
    -fx-font-family: "Font Awesome 7 Free Solid";
    -fx-font-size: 35px; 
    -fx-padding: 5;
    -fx-cursor: hand;
}

#btnMusica:hover {
    -fx-background-color: #33adff;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

#btnMusica:pressed {
    -fx-translate-y: 3;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.5), 0, 0, 0, 2);
}

#btnMusica:selected {
    -fx-background-color: #D32F2F;
    -fx-text-fill: #aaaaaa;        
    -fx-border-color: #000000;
}


/* --------------------Estilos para el menu de Carga --------------------*/

.lblPromedio {
	-fx-font-family: "Press Start 2P";
	-fx-font-size: 30px; 
}

#lblDatosCuriosos {
	-fx-font-family: "Press Start 2P";
	-fx-font-size: 15px; 
}

#lblBarraProgreso {
	-fx-border-color: #ffffff;
	-fx-border-width: 0;
    
}

#lblBarraProgreso .track {
	-fx-background-color:  #e0e0e0; 
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

#lblBarraProgreso .bar {
	-fx-background-color: #8F6161;
     -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 0;
}

