/* Estilos para la Ventana de Configuración */

.fondo-configuracion {
    -fx-background-color: #ffffff;
}

/* --- TEXTOS --- */

.titulo-pixel {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 60px; 
    -fx-text-fill: #000000;
}

.subtitulo-pixel {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 20px;
    -fx-text-fill: #000000;
}

.etiqueta-pixel {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 14px;
    -fx-text-fill: #000000;
}

.texto-lista-pixel {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 12px;
    -fx-text-fill: #000000;
}

/* --- LISTA (Panel Izquierdo) --- */

.contenedor-lista {
    -fx-background-color: #e0e0e0;
    -fx-background-radius: 0;
    -fx-border-color: #000000;
    -fx-border-width: 2px;
}

.scroll-pixel {
    -fx-background: #e0e0e0;
    -fx-border-color: transparent;
}

.scroll-pixel > .viewport {
    -fx-background-color: transparent;
}

/* --- INPUTS Y COMBOS --- */

.input-pixel, .combo-pixel {
    -fx-background-color: #d6d6d6;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 10px;
    -fx-text-fill: #000000;
}

.combo-pixel .list-cell {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 10px;
}

/* --- BOTONES (Estilo Arcade Negro) --- */

.boton-pixel-pequeno {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 10px;
    -fx-background-color: #000000;
    -fx-text-fill: #ffffff;
    -fx-border-color: #333333;
    -fx-border-width: 0 0 3 0; 
    -fx-background-radius: 0;
    -fx-cursor: hand;
    -fx-padding: 8 15 8 15;
}

.boton-pixel-pequeno:hover {
    -fx-background-color: #333333;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.boton-pixel-pequeno:pressed {
    -fx-translate-y: 2;
    -fx-border-width: 0;
}

/* BOTÓN INICIAR (Grande) */
.boton-pixel-grande {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 24px;
    -fx-background-color: #000000;
    -fx-text-fill: #ffffff;
    -fx-border-color: #333333;
    -fx-border-width: 0 0 6 0;
    -fx-background-radius: 0;
    -fx-cursor: hand;
    -fx-padding: 15 40 15 40;
}

.boton-pixel-grande:hover {
    -fx-background-color: #333333;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.boton-pixel-grande:pressed {
    -fx-translate-y: 4;
    -fx-border-width: 0;
}